.title {
    @apply w-[400px] shrink-0
    xl:w-[236px]
}

.top {
    @apply flex gap-[60px] mb-[64px]
    xl:gap-[50px] xl:mb-[32px]
    md:flex-col md:gap-[12px]
}

.body {

}

.text {
    @apply mt-[6px]
}

.list {
    @apply grid grid-cols-2 gap-[20px]
    md:gap-[12px]
}

.list__item {

}

.picture {
    @apply rounded-[24px] border-[2px] border-[#F6F6F6] overflow-hidden relative block
    md:rounded-[12px]
}

.image {
    @apply object-cover max-w-none  h-[calc(100%+4px)] w-[calc(100%+4px)] m-[-2px]  xl:min-h-[264px] md:min-h-[114px]
}