.body {

}

.title {
    @apply mb-[68px]
     mb-[52px]
    xl:mb-[17px]
    md:mb-[20px]
    sm:mb-[27px]
}

.list {
    @apply flex flex-wrap gap-y-[134px]  gap-y-[100px]
    xl:gap-y-[50px]
    lg:gap-y-[30px]
    md:gap-y-[32px]
}

.body .list .item__text, .body .list .item__title {
    @apply  text-[22px]
}

.body .list .item__text {
    @apply xl:text-[16px]
}

.body .list .item__title {
    @apply xl:text-[14px] md:pt-[3px]
}

.item {
    @apply w-[calc(100%/4)] md:relative

}

.body .list .item {
    @apply xl:w-[calc(100%/3)] lg:w-[calc(100%/2)] md:w-full md:flex md:items-center
}

.body .item__title {
    @apply flex items-center justify-center w-[116px] h-[56px] font-bold rounded-full bg-yellow-400
     w-[77px]  h-[39px]
    xl:w-[57px] xl:h-[30px]

}

.item:last-child {
    @apply w-[345px] mr-[-50px]  w-[280px]
}

.item:nth-child(6) {
    @apply w-[583px]  w-[440px]
}




.item:last-child .item__content {
    @apply pr-[0px]
}

.item:last-child .item__decor {
    @apply hidden
}

.item__decor {
    @apply h-[0px] box-content border-t-[3px] border-dashed border-yellow-400 mx-[30px] flex-grow
     mx-[20px]
    xl:mx-[30px]
    lg:mx-[14px] lg:border-t-[2px]
    md:border-t-[0px] md:border-l-[2px] md:w-[0px] md:h-[25px] md:mx-[0px]  md:absolute md:top-[110%] md:left-[28px]
    sm:h-[35px]

}

.item__content {
    @apply pr-[65px]  pr-[33px] xl:pr-[30px]
    md:absolute md:left-[66px] md:top-[50%] md:translate-y-[-50%] md:pr-[0px]

}

.item:nth-child(5) {
    @apply  w-[270px]
}

.item:nth-child(5) .item__content {
    @apply xl:pr-[0px]
}

.item:nth-child(6) {
    @apply  sm:my-[10px]
}

.item__text .item__text {
    @apply pr-[0px]
}

.item__link {
    @apply underline
}

.item__content {}

.item__link {}

.item__top {
    @apply flex items-center mb-[40px]  mb-[30px]
    xl:mb-[10px]
    md:mb-[0px] md:mr-[10px] md:flex-col
}
