.video {
    @apply relative rounded-[33px] overflow-hidden w-full border-[5px] border-yellow-400 shrink-0 w-[1210px] h-[660px]
     w-[900px]  border-[4px]  h-[500px]  rounded-[20px]
    xl:h-[340px] xl:border-[3px] xl:rounded-[14px] xl:shrink
    lg:h-[280px] lg:border-[2px] lg:rounded-[12px]
    md:w-full md:h-[260px]


}

.video__media {
    @apply w-full h-full mt-[-5px]
    xl:mt-[-10px]
}

.video__button {
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] rounded-full z-10 w-[160px] h-[160px]
     w-[120px]  h-[120px]
    xl:w-[72px] xl:h-[72px]
    lg:w-[60px] lg:h-[60px]

}

.video__image {
    @apply w-full h-full object-contain
}

.body {}

.left {}

.left__back {}

.left__text {}

.right {

}

.right__back {}

.right__text {}

.right__image {}
.right__picture {}