.body {
    @apply flex justify-between
    xl:block
}

.title {
    @apply mb-[20px]
    2xl:mb-[15px]
    xl:mb-[8px]
    md:mb-[10px]
}

.title, .text {
    @apply relative z-[1]
}

.text {
    @apply max-w-[500px]
    2xl:max-w-[370px]
    xl:max-w-none
    md:max-w-[230px]
}

.slider {
}

.list {
    @apply flex gap-[53px]
    2xl:gap-[40px]
    xl:gap-[20px]
    md:gap-[15px]
    sm:gap-[10px]
}


.slider__item {
    @apply w-[822px] rounded-[32px] bg-gray-400 px-[40px] pt-[40px] pb-[65px] select-none shrink-0
    2xl:rounded-[24px] 2xl:p-[30px] 2xl:w-[610px] 2xl:pb-[36px]
    xl:rounded-[24px] xl:py-[20px] xl:px-[30px] xl:w-[440px]
        md:w-[305px] md:pt-[16px] md:pb-[16px] md:pl-[25px] md:pr-[30px]
    sm:px-[16px] sm:w-[234px]
}



.slider__picture {
    @apply rounded-full w-[160px] h-[160px] mr-[26px]  pointer-events-none
    2xl:w-[120px] 2xl:h-[120px] 2xl:mr-[20px]
    xl:w-[70px] xl:h-[70px] xl:mr-[10px]
    md:w-[60px] md:h-[60px]
}

.slider__image {
    @apply object-cover
}

.slider__name {
    @apply font-bold text-[38px] mb-[7px] leading-none
    2xl:text-[28px] 2xl:mb-[5px]
    xl:text-[20px] xl:mb-[3px]
    md:text-[18px]
}

.slider__desc {
}

.slider__text {

}

.slider__top {
    @apply flex items-center mb-[40px]
    2xl:mb-[30px]
    xl:mb-[10px]
}

.slider__person {
}

.content {
    @apply shrink-0  w-[630px] relative z-[1]  after:bg-white after:absolute after:top-0 after:right-0 after:bottom-0 after:w-[50vw]
        2xl:w-[463px]
    xl:mb-[40px] xl:w-auto xl:w-auto xl:after:hidden
    lg:mb-[30px]
    md:mb-[20px]

}

.sliders {
    @apply w-[calc(100%-630px)]
    2xl:w-[calc(100%-463px)]
    xl:w-full
}





