.body {
}

.body .top {
    @apply mb-[80px]
    2xl:mb-[45px]
    xl:mb-[30px]
    lg:block
    md:mb-[25px]
}

.body .bottom {
    @apply md:flex-col-reverse md:gap-[25px]
}

.top, .bottom {
    @apply flex justify-between
}


.top .text {
    @apply w-[1210px] shrink-0 pr-[50px]
    2xl:w-[900px] 2xl:pr-[105px]
    xl:w-[580px]
    lg:w-full
    md:pr-[0px]
}

.title {
    @apply lg:mb-[25px] md:mb-[20px]
}

.body .text {
    @apply 2xl:text-[22px] xl:text-[16px] md:text-[14px]
}


.video {
    @apply relative rounded-[33px] overflow-hidden w-full border-[5px] border-yellow-400 shrink-0 w-[1210px] h-[660px]
    2xl:w-[900px] 2xl:border-[4px] 2xl:h-[500px] 2xl:rounded-[20px]
    xl:w-[580px] xl:h-[340px] xl:border-[3px] xl:rounded-[14px]
    lg:w-[467px] lg:h-[280px] lg:border-[2px] lg:rounded-[12px]
    md:w-full md:h-[260px]


}

.video__media {
    @apply w-full h-full mt-[-5px]
    xl:mt-[-10px]
}

.video__button {
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] rounded-full z-10 w-[160px] h-[160px]
    2xl:w-[120px] 2xl:h-[120px]
    xl:w-[72px] xl:h-[72px]
    lg:w-[60px] lg:h-[60px]

}

.video__image {
    @apply w-full h-full object-contain
}


.bottom .text {
    @apply max-w-[545px]
    2xl:max-w-[400px]
    xl:max-w-[357px]
    lg:max-w-[225px]
    md:max-w-[370px]
    sm:max-w-[260px]
}
