.body {
    @apply mt-[20px] mb-[53px]
    2xl:mt-[10px] 2xl:mb-[40px]
    xl:mb-[23px]
    lg:mb-[33px]
    md:mb-[20px]
    sm:mb-[10px]
}

.logo {
    @apply h-[64px] w-[104px]
    2xl:h-[40px] 2xl:w-[65px]
    xl:h-[30px] xl:w-[50px]
    lg:h-[30px] lg:w-[48px]
    sm:h-[20px] sm:w-[32px]
}

.wrapper {
    @apply rounded-[13px] bg-yellow-200 flex items-center justify-between  px-[41px] py-[12px]
    2xl:rounded-[10px] 2xl:py-[11px] 2xl:pl-[25px] 2xl:pr-[6px]
    xl:py-[8px]  xl:px-[21px]
    lg:py-[15px] lg:px-[15px] lg:pr-[36px]
    md:py-[15px] md:px-[10px] md:rounded-[6px]
    sm:py-[8px] sm:px-[10px]
}

.body__nav {
    @apply md:hidden
}

.nav {
    @apply flex items-center gap-[40px]
    2xl:gap-[30px]
    xl:gap-[15px]
    md:absolute md:top-[9px] md:right-[0px] md:rounded-[8px] md:p-[26px] md:pt-[40px] md:overflow-hidden md:flex-col md:items-start md:bg-yellow-200 md:w-[250px]
}

.nav__close {
    @apply hidden md:block absolute top-[9px] right-[10px] w-[24px] h-[24px]
}

.nav__close__icon {
    @apply object-contain w-full h-full
}

.nav__list {
}

.nav__item {
}

.nav .nav__link {
    @apply font-bold
    md:text-[16px]
    sm:text-[14px]
}

.nav__sublist {
    @apply relative flex gap-[15px] items-center
    2xl:gap-[10px]
    xl:gap-[8px]

}

.nav__indent {
    @apply hidden md:block transition-all
}

.sublist__title {
    @apply cursor-default
}

.sublist__wrapper {
    @apply absolute top-[3em] left-[0px] transition-all opacity-[0] invisible before:absolute before:w-full before:h-[20px] before:top-[-20px] before:left-[0px] z-[20]
    2xl:top-[150%]
    md:before:hidden  md:top-[100%]
}

.open .sublist__wrapper {
    @apply opacity-[1] visible
}

.sublist__arrow {
    @apply w-[15px] h-[9px] object-contain transition-all rotate-[180deg]
    2xl:w-[12px] 2xl:h-[7px]
    lg:w-[10] lg:h-[5px]
}

.open .sublist__arrow {
    @apply rotate-[0deg]
}

.sublist__list {
    @apply py-[20px] px-[25px] rounded-[8px] border-[1px] border-black bg-yellow-200
    xl:p-[20px]
    lg:translate-x-[-4px]
    md:border-none md:p-[0px] md:pt-[10px] md:translate-x-[0px] md:pb-[5px]
}

.nav .nav__sublist .sublist__item {
    @apply block whitespace-nowrap
    md:text-[14px]
    sm:text-[12px]
}

.sublist__item:not(:last-child) {
    @apply mb-[20px]
    2xl:mb-[10px]
    md:mb-[5px]
}

.button {
    @apply w-[313px] h-[76px] text-[26px] ml-[152px] rounded-[13px]
    2xl:w-[239px] 2xl:h-[58px] 2xl:text-[20px] 2xl:ml-[110px] 2xl:rounded-[10px]
    xl:rounded-[8px] xl:w-[183px] xl:h-[52px] xl:text-[16px] xl:ml-[68px]
    lg:hidden
   md:flex md:w-[156px] md:h-[40px] md:text-[14px] md:ml-[0px] md:mt-[25px]
    !important
}

.burger {
    @apply hidden md:block w-[30px] h-[30px]
    sm:w-[24px] sm:h-[24px]
}

.burger__icon {
}
