.footer.old {
    @apply pt-[73px] relative
    mb-[42px]
     pt-[55px]  mb-[22px]
    xl:mb-[30px]
    lg:mb-[20px]
    md:mb-[22px]
}

.old .footer__body {
    @apply bg-yellow-200 rounded-[30px]  pt-[68px] pb-[60px] pl-[67px] pr-[40px] grid grid-cols-[483px,auto,1fr,1fr] grid-rows-[auto,auto] gap-x-[80px] gap-y-[74px]
     px-[40px]  pt-[49px]  pb-[44px]  gap-y-[56px]  gap-x-[60px]  grid-cols-[362px,auto,1fr,1fr]
    xl:rounded-[10px]  xl:p-[20px] xl:pb-[29px] xl:pr-[37px] xl:gap-y-[42px] xl:gap-x-[42px] xl:grid-cols-[198px,auto,1fr,auto]
    lg:rounded-[10px]  lg:px-[20px] lg:py-[20px] lg:gap-y-[18px] lg:gap-x-[36px] lg:grid-cols-[203px,0.5fr,255px]
    md:px-[10px] md:pt-[20px] md:pb-[12px]  md:gap-y-[34px] md:gap-x-[47px] md:grid-cols-[1fr,auto]
    sm:gap-y-[23px] sm:gap-x-[23px] sm:pb-[32px]
}

.old  .logo {
    @apply row-start-1 row-end-2 col-start-1 col-end-2
}

.old  .logo__link {
    @apply w-[131px] h-[80px] mb-[40px] block
     mb-[30px]  w-[98px]  h-[60px]
    xl:mb-[20px] xl:w-[82px] xl:h-[50px]
    lg:mb-[20px] lg:w-[82px] lg:h-[50px]

}

.old  .footer .logo__copy, .footer .doc__item {
    @apply xl:text-[12px] xl:leading-[1.3]

}

.old  .logo__copy {
    @apply sm:whitespace-nowrap
}

.old  .doc {
    @apply row-start-2 row-end-3 col-start-1 col-end-2 flex flex-col gap-[15px]
     gap-[12px]
    xl:gap-[15px]
    lg:row-start-2 lg:row-end-3 lg:col-start-2 lg:col-end-4 lg:mt-auto lg:justify-between lg:flex-row lg:gap-[42px]
    md:row-start-3 md:row-end-4 md:col-start-1 md:col-end-3 md:flex md:flex-row-reverse   md:gap-[34px] md:justify-end
    sm:row-start-5 sm:row-end-6 sm:col-start-1 sm:col-end-3 sm:flex sm:flex-col   sm:gap-[8px]

}

.old  .doc__item {
    @apply underline
}

.old  .doc__item:nth-child(1) {
}

.old  .doc__item:nth-child(2) {
    @apply lg:mr-[72px] md:mr-[0px] md:translate-x-[7px] sm:translate-x-[0]

}

.old  .title {
    @apply text-[28px] leading-[1.3]  text-[22px] font-bold
    xl:text-[16px] md:text-[14px]
}

.old  .nav {
    @apply row-start-1 row-end-3 col-start-2 col-end-3 w-fit
    lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3
    md:row-start-1 md:row-end-2 md:col-start-2 md:col-end-3
}

.old  .nav__title {
    @apply mb-[26px]
     mb-[20px]
    xl:mb-[10px]
}

.old  .nav__item {
}

.old  .nav__list, .social__list, .contacts__list {
    @apply flex flex-col
}

.old  .nav__list {
    @apply gap-[18px]
     gap-[12px]
    xl:gap-[8px]
}

.old  .nav__link {
    @apply whitespace-nowrap text-[0px]
}

.old  .social {
    @apply row-start-1 row-end-3 col-start-3 col-end-4
    lg:row-start-1 lg:row-end-2 lg:col-start-3 lg:col-end-4
    md:row-start-2 md:row-end-3 md:col-start-2 md:col-end-3
    sm:row-start-4 sm:row-end-5 sm:col-start-1 sm:col-end-3 sm:mt-[-20px]
}

.old  .social__title {
    @apply mb-[22px]  mb-[16px]
    xl:mb-[6px]
}

.old  .social__item {
    @apply flex items-center gap-[13px]
     gap-[10px]
    xl:gap-[5px]
}

.old  .social__link {
}

.old  .social__icon {
    @apply w-[53px] h-[53px] object-contain
     w-[40px]  h-[40px]
    xl:w-[22px] xl:h-[22px]
}

.old  .social__list {
    @apply gap-[22px]
     gap-[16px]
    xl:gap-[5px]
}

.old  .social__text {
}

.old  .social__remark {
    @apply mt-[30px] text-[14px] leading-[1.3] mr-[-40px]
     mr-[-20px]  mt-[16px]
    xl:mt-[6px] xl:text-[12px]
    lg:mr-[0px]
    !important
}

.old  .contacts {
    @apply row-start-1 row-end-3 col-start-4 col-end-5
    lg:row-start-2 lg:row-end-3 lg:col-start-1 lg:col-end-2
    md:row-start-2 md:row-end-3 md:col-start-1 md:col-end-2
    sm:row-start-2 sm:row-end-3 sm:col-start-1 sm:col-end-3
}

.old  .contacts__title {
    @apply mb-[30px]
     mb-[23px]
    xl:mb-[10px]
}

.old  .contacts__list {
    @apply gap-[24px]
     gap-[18px]
    xl:gap-[8px]
}

.old  .contacts__item {
}

.old  .contacts__link:focus {
    outline: 3px solid black !important;
    display: block;

}

.old  .contacts__text {
}

.old  .contacts__description {
    @apply mt-[10px] text-[#5A5A5A] font-normal text-[20px] leading-none
     mt-[6px]  text-[16px]
    xl:text-[14px] xl:mt-[2px]

}

.old  .buttonToTop {
    @apply absolute top-0 right-[40px]
    xl:hidden !important;
}

.old  .text {
    @apply text-[24px] leading-[1.3] font-normal
     text-[18px]
    xl:text-[16px]
    md:text-[14px]
}

.old  .li {
    @apply text-[0px]
}

.new.footer {
    @apply pt-[73px] relative
    mb-[42px]
    pt-[55px] mb-[22px]
    xl:mb-[30px]
    lg:mb-[20px]
    md:mb-[22px]
}

.new .footer__body {
    @apply bg-yellow-200 rounded-[30px]  pt-[68px] pb-[60px] pl-[67px] pr-[40px] grid grid-cols-[483px,auto,1fr,1fr] grid-rows-[auto,auto] gap-x-[80px] gap-y-[74px]
    px-[40px] pt-[49px] pb-[44px] gap-y-[56px] gap-x-[60px] grid-cols-[362px,auto,1fr,1fr]
    xl:rounded-[10px]  xl:p-[20px] xl:pb-[29px] xl:pr-[37px] xl:gap-y-[42px] xl:gap-x-[42px] xl:grid-cols-[198px,auto,1fr,auto]
    lg:rounded-[10px]  lg:px-[20px] lg:py-[20px] lg:gap-y-[18px] lg:gap-x-[36px] lg:grid-cols-[203px,0.5fr,255px]
    md:px-[10px] md:pt-[20px] md:pb-[12px]  md:gap-y-[34px] md:gap-x-[47px] md:grid-cols-[1fr,auto]
    sm:gap-y-[23px] sm:gap-x-[23px] sm:pb-[32px]
}

.new .logo {
    @apply row-start-1 row-end-2 col-start-1 col-end-2
}

.new .logo__link {
    @apply w-[131px] h-[80px] mb-[40px] block
    mb-[30px] w-[98px] h-[60px]
    xl:mb-[20px] xl:w-[82px] xl:h-[50px]
    lg:mb-[20px] lg:w-[82px] lg:h-[50px]

}

.new .footer .logo__copy, .new .footer .doc__item {
    @apply xl:text-[12px] xl:leading-[1.3]

}


.new .logo__copy {
    @apply sm:whitespace-nowrap
}

.new .doc {
    @apply row-start-2 row-end-3 col-start-1 col-end-2 flex flex-col gap-[15px]
    gap-[12px]
    xl:gap-[15px]
    lg:row-start-2 lg:row-end-3 lg:col-start-2 lg:col-end-4 lg:mt-auto lg:justify-between lg:flex-row lg:gap-[42px]
    md:row-start-3 md:row-end-4 md:col-start-1 md:col-end-3 md:flex md:flex-row-reverse   md:gap-[34px] md:justify-end
    sm:row-start-5 sm:row-end-6 sm:col-start-1 sm:col-end-3 sm:flex sm:flex-col   sm:gap-[8px]

}

.new .doc__item {
    @apply underline
}

.new .doc__item:nth-child(1) {
}

.new .doc__item:nth-child(2) {
    @apply lg:mr-[72px] md:mr-[0px] md:translate-x-[7px] sm:translate-x-[0]

}

.new .title {
    @apply text-[28px] leading-[1.3] text-[22px] font-bold
    xl:text-[16px] md:text-[14px]
}

.new .nav {
    @apply row-start-1 row-end-3 col-start-2 col-end-3 w-fit
    lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3
    md:row-start-1 md:row-end-2 md:col-start-2 md:col-end-3
}

.new .nav__title {
    @apply mb-[26px]
    mb-[20px]
    xl:mb-[10px]
}

.new .nav__item {
}

.new .nav__list, .social__list, .contacts__list {
    @apply flex flex-col
}

.new .nav__list {
    @apply gap-[18px]
    gap-[12px]
    xl:gap-[8px]
}


.new .nav__link {
    @apply whitespace-nowrap text-[0px]
}

.new .social {
    @apply row-start-1 row-end-3 col-start-3 col-end-4
    lg:row-start-1 lg:row-end-2 lg:col-start-3 lg:col-end-4
    md:row-start-2 md:row-end-3 md:col-start-2 md:col-end-3
    sm:row-start-4 sm:row-end-5 sm:col-start-1 sm:col-end-3 sm:mt-[-20px]
}

.new .social__title {
    @apply mb-[22px] mb-[16px]
    xl:mb-[6px]
}

.new .social__item {
    @apply flex items-center gap-[13px]
    gap-[10px]
    xl:gap-[5px]
}

.new .social__link {
}

.new .social__icon {
    @apply w-[53px] h-[53px] object-contain
    w-[40px] h-[40px]
    xl:w-[22px] xl:h-[22px]
}

.new .social__list {
    @apply gap-[22px]
    gap-[16px]
    xl:gap-[5px]
}

.new .social__text {
}

.new .social__remark {
    @apply mt-[30px] text-[14px] leading-[1.3] mr-[-40px]
    mr-[-20px] mt-[16px]
    xl:mt-[6px] xl:text-[12px]
    lg:mr-[0px]
    !important
}

.new .contacts {
    @apply row-start-1 row-end-3 col-start-4 col-end-5
    lg:row-start-2 lg:row-end-3 lg:col-start-1 lg:col-end-2
    md:row-start-2 md:row-end-3 md:col-start-1 md:col-end-2
    sm:row-start-2 sm:row-end-3 sm:col-start-1 sm:col-end-3
}

.new .contacts__title {
    @apply mb-[30px]
    mb-[23px]
    xl:mb-[10px]
}

.new .contacts__list {
    @apply gap-[24px]
    gap-[18px]
    xl:gap-[8px]
}

.new .contacts__item {
}

.new .contacts__link:focus {
    outline: 3px solid black !important;
    display: block;

}

.new .contacts__text {
}

.new .contacts__description {
    @apply mt-[10px] text-[#5A5A5A] font-normal text-[20px] leading-none
    mt-[6px] text-[16px]
    xl:text-[14px] xl:mt-[2px]

}

.new .buttonToTop {
    @apply absolute top-0 right-[40px]
    xl:hidden !important;
}

.new .text {
    @apply text-[24px] leading-[1.3] font-normal
    text-[18px]
    xl:text-[16px]
    md:text-[14px]
}

.new .li {
    @apply text-[0px]
}

